# Ignore everything in the root folder
/*

# Except for specific files in the root folder
!mm7.ini
!README.md
!.gitattributes
!mm-cli.sh

# Allow these folders and their contents
!/Data/Tables/
!/Data/UI.txt
!/Data/editor.bitmaps.lod
!/Data/editor.icons.lod
!/Data/editor.sprites.lod
!/Data/new.BITMAPS.LOD
!/Data/new.Events.lod
!/Data/new.GAMES.LOD
!/Data/new.ICONS.LOD
!/Data/new.SPRITES.LOD
!/Data/new.lod
!/DataFiles/
!/ExeMods/
!/Misc/
!/Scripts/
!/Tests/
!/SOUNDS/
!/SOUNDS/new.Audio.snd

# Allow all subdirectories and their contents
!/Data/Tables/**
!/DataFiles/**
!/ExeMods/**
!/Language/**
!/Misc/**
!/Scripts/**
!/Tests/**


