# Ignore everything in the root folder
/*

# Except for specific files in the root folder
!mm7.ini
!README.md
!.gitattributes

# Allow these folders and their contents
!/Data/
!/DataFiles/
!/ExeMods/
!/Language/
!/Misc/
!/Scripts/
!/Tests/

# Allow all subdirectories and their contents
!/Data/**
!/DataFiles/**
!/ExeMods/**
!/Language/**
!/Misc/**
!/Scripts/**
!/Tests/**